html {
  font-family: '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ', sans-serif;
  font-size: 62.5%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}
