.hamburgerButton {
  left: 2rem;
  position: absolute;
  width: 1.5rem;

  &__line {
    background-color: #fff;
    display: block;
    height: 0.2rem;
    margin: 0 auto;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out, width 0.2s ease-out;
    width: 100%;

    &:not(:first-child) {
      margin-top: 0.3rem;
    }

    &--active {
      width: 0.7rem;

      &:nth-child(1) {
        transform: translateY(0.5rem) rotate(-0.125turn) scale(3.1);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-0.5rem) rotate(0.125turn) scale(3.1);
      }
    }
  }
}
