.main {
  &__mainVisual {
    background-image: url(../images/pic1.jpg);
    background-position: center;
    background-size: cover;
    height: 63rem + ($topPageMainSectionHeight / 2);

    @include secondLarger {
      height: 55.8rem;
    }
  }

  &__mainSectionWrapper {
    height: calc(
      #{$topPageMainSectionHeight} + 100vw * #{$tanOfTopPageMainSectionInclination}
    );
    margin-top: calc(
      (#{$topPageMainSectionHeight} + 100vw * #{$tanOfTopPageMainSectionInclination}) / 2 *
        -1
    );
    position: relative;

    @include secondLarger {
      height: 50rem;
      margin-top: 0;
    }
  }
}
