@keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes closing {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.menuList {
  background-color: #000;
  display: none;
  position: absolute;
  right: 0;
  top: 7rem;
  width: 32rem;

  &--active {
    animation: open 0.5s linear;
    display: block;
  }

  &--closing {
    animation: closing 0.3s linear;
    display: block;
  }

  &__item {
    height: 5.7rem;
    position: relative;
    width: 32rem;

    &::before {
      border-top: 1px solid #fff;
      content: '';
      display: block;
      height: 0;
      margin: 0 auto;
      width: 25.3rem;
    }

    &__anchor {
      align-items: center;
      color: #f2f2f2;
      cursor: pointer;
      display: flex;
      font-size: 1.6rem;
      height: 100%;
      justify-content: flex-start;
      padding: 0 3.3rem;
      width: 100%;

      @include coloringWithHover(255, 255, 255);
    }
  }
}
