.topPageSection {
  &_main {
    align-items: center;
    color: #f2f2f2;
    display: flex;
    height: 100%;
    justify-content: center;
    z-index: 1;

    @include firstLarger {
      &::before {
        background-color: $blue;
        content: ('');
        display: block;
        height: $topPageMainSectionHeight;
        position: absolute;
        top: calc(100vw * #{$tanOfTopPageMainSectionInclination} / 2);
        transform: skewY($topPageMainSectionInclination);
        width: 100%;
        z-index: 1;
      }
    }

    @include secondLarger {
      background-color: $blue;
    }

    @include thirdLarger {
      background-color: $blue;
    }
  }

  &_bmw {
    padding: 3.7rem 0;

    @include secondLarger {
      padding: 5.5rem 0 5.1rem;
    }

    @include thirdLarger {
      padding: 3.1rem 0 4rem;
    }
  }

  &__img {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 50%;

    @include secondLarger {
      height: 55.8rem;
      width: 100%;
    }

    @include thirdLarger {
      height: 27rem;
      width: 100%;
    }

    .topPageSection_emblem & {
      background-image: url(../images/pic2.jpg);
    }

    .topPageSection_features & {
      background-image: url(../images/pic3.jpg);
    }

    .topPageSection_motorcycle & {
      background-image: url(../images/pic4.jpg);
    }

    .topPageSection_motorSports & {
      background-image: url(../images/pic5.jpg);
    }

    .topPageSection_businessConditions & {
      background-image: url(../images/pic6.jpg);
    }
  }

  &__description {
    margin: 0 auto;
    width: 52rem;

    &__title {
      font-size: 3.6rem;
      font-weight: bold;
      margin-top: 18.4rem;

      @include secondLarger {
        margin-top: 0;
      }

      @include thirdLarger {
        font-size: 2.4rem;
        margin-top: 0;
      }

      .topPageSection_main & {
        font-family: $verdana;
        font-size: 4rem;
        margin-top: 0;

        @include thirdLarger {
          font-size: 2.6rem;
        }
      }

      .topPageSection_bmw & {
        color: $green;
        margin-top: 0;
        text-align: center;

        @include secondLarger {
          text-align: start;
        }

        @include thirdLarger {
          text-align: start;
        }
      }

      .topPageSection_emblem & {
        color: #fff;
      }

      .topPageSection_features & {
        color: $blue;
      }

      .topPageSection_motorcycle & {
        color: #fff;
      }

      .topPageSection_motorSports & {
        color: $purple;
      }

      .topPageSection_businessConditions & {
        color: #fff;
      }
    }

    &__englishTitle {
      align-items: center;
      border-bottom: 1px solid;
      border-top: 1px solid;
      display: flex;
      font-family: $verdana;
      font-size: 1.4rem;
      font-style: italic;
      font-weight: bold;
      height: 4.5rem;
      justify-content: flex-start;
      margin-top: 2.5rem;
      text-align: center;
      width: 100%;

      @include thirdLarger {
        margin-top: 2rem;
      }

      .topPageSection_bmw & {
        color: $gray;
        justify-content: center;

        @include secondLarger {
          justify-content: flex-start;
        }

        @include thirdLarger {
          justify-content: flex-start;
          margin-top: 1.1rem;
        }
      }

      .topPageSection_emblem & {
        color: #fff;
      }

      .topPageSection_features & {
        color: $gray;
      }

      .topPageSection_motorcycle & {
        color: #fff;
      }

      .topPageSection_motorSports & {
        color: $gray;
      }

      .topPageSection_businessConditions & {
        color: #fff;
      }
    }

    &__main {
      font-size: 1.4rem;
      line-height: 2.9rem;
      margin: 2.2rem auto 0;

      @include thirdLarger {
        margin-top: 1.6rem;
      }

      .topPageSection_main & {
        font-size: 2.8rem;
        font-weight: bold;
        margin-top: 4.7rem;

        @include thirdLarger {
          font-size: 1.8rem;
          margin-top: 2.6rem;
        }
      }

      .topPageSection_bmw & {
        line-height: 2.4rem;
        text-align: center;

        @include secondLarger {
          text-align: start;
        }

        @include thirdLarger {
          margin: 1.7rem auto 0;
          text-align: start;
        }
      }

      .topPageSection_emblem & {
        color: #fff;
      }

      .topPageSection_motorcycle & {
        color: #fff;
      }

      .topPageSection_businessConditions & {
        color: #fff;
      }
    }

    &__button {
      align-items: center;
      border: 1px solid;
      display: flex;
      font-family: $verdana;
      font-size: 1.6rem;
      height: 4.7rem;
      justify-content: center;
      margin-top: 4rem;
      position: relative;
      width: 16rem;

      @include thirdLarger {
        height: 4.6rem;
        margin: 2.5rem 0 0;
        width: auto;
      }

      @include coloringWithHover;

      .topPageSection_main & {
        border-color: #f2f2f2;
        border-width: 2px;
        color: #f2f2f2;
        font-size: 2rem;
        height: 5.8rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3.2rem;
        width: 18rem;

        @include thirdLarger {
          height: 4.3rem;
          margin: 4.9rem 2rem 0;
          width: auto;
        }
      }

      .topPageSection_bmw & {
        border-color: $gray;
        border-width: 2px;
        color: $green;
        margin-left: auto;
        margin-right: auto;

        @include secondLarger {
          margin-left: 0;
        }
      }

      .topPageSection_emblem & {
        color: #fff;
      }

      .topPageSection_features & {
        border-color: $gray;
        color: $blue;
      }

      .topPageSection_motorcycle & {
        color: #fff;
      }

      .topPageSection_motorSports & {
        border-color: $gray;
        color: $purple;
      }

      .topPageSection_businessConditions & {
        color: #fff;
      }
    }

    .topPageSection_main & {
      position: relative;
      text-align: center;
      z-index: 2;
    }

    .topPageSection_bmw & {
      @include secondLarger {
        margin: 0 6rem;
        width: auto;
      }

      @include thirdLarger {
        margin: 0 2rem;
        width: auto;
      }
    }

    .topPageSection_withImg & {
      padding: 0 6rem;
      width: 50%;

      @include secondLarger {
        padding: 5rem 6rem;
        width: 100%;
      }

      @include thirdLarger {
        padding: 3rem 2rem 5rem;
        width: 100%;
      }
    }

    .topPageSection_emblem & {
      background-color: $green;
    }

    .topPageSection_features & {
      background-color: #fff;
    }

    .topPageSection_motorcycle & {
      background-color: $blue;
    }

    .topPageSection_motorSports & {
      background-color: #fff;
    }

    .topPageSection_businessConditions & {
      background-color: $purple;
    }
  }

  &__scrollButtons {
    bottom: 2rem;
    position: absolute;
    right: 1.4rem;

    @include secondLarger {
      display: none;
    }

    @include thirdLarger {
      display: none;
    }

    &__box {
      align-items: center;
      border: 1px solid;
      display: flex;
      font-size: 1.5rem;
      height: 3rem;
      justify-content: center;
      position: relative;
      width: 3rem;
      z-index: 100;

      @include coloringWithHover;

      .topPageSection_emblem & {
        color: #fff;
      }

      .topPageSection_features & {
        border-color: $gray;
        color: $blue;
      }

      .topPageSection_motorcycle & {
        color: #fff;
      }

      .topPageSection_motorSports & {
        border-color: $gray;
        color: $purple;
      }

      .topPageSection_businessConditions & {
        color: #fff;
      }
    }
  }

  &_withImg {
    position: relative;

    @include firstLarger {
      display: flex;
      height: 68rem;
      margin-top: 6.3rem;

      &:nth-child(odd) {
        flex-direction: row-reverse;

        .topPageSection__description {
          align-items: flex-end;
        }

        .topPageSection__description__englishTitle {
          justify-content: flex-end;
        }

        .topPageSection__description__main {
          margin: 2.2rem 0 0 auto;
        }

        .topPageSection__scrollButtons {
          left: 1.4rem;
        }
      }

      &:nth-child(even) {
        .topPageSection__description__main {
          margin: 2.2rem auto 0 0;
        }
      }
    }

    @include secondLarger {
      margin-top: 0;
    }

    & + & {
      margin-top: 0;
    }
  }
}
