$verdana: Verdana, Geneva, Tahoma, sans-serif;

$green: #2dbc9c;
$blue: #3f95d8;
$gray: #ccc;
$purple: #9956b2;

$topPageMainSectionHeight: 40rem;
$topPageMainSectionInclination: -4.4deg;
$tanOfTopPageMainSectionInclination: 100 / 1280;
